[user]
	name = Michael Carter
	email = michael.carter@semanticbits.com
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
